@media all and (min-width: 1080px) {
    body {
        display: flex;
        margin: 0;
        text-align: justify;
        font-family: "Segoe UI", sans-serif;
        font-size: 12pt;
    }

    a {
        text-decoration: none;
        color: white;
    }

    ul {
        padding-left: 10px;
        min-height: 100vh;
        min-width: 150px;
        margin: 0;
        background-color: #3d3d3d;
        list-style-type: none;
    }

    .content {
        padding: 0 35px 0 35px;
    }

    li {
        padding: 20px 0 10px 0;
    }
}

#about, #contacts {
    display: none;
}

a[target="_blank"]::after {
    content: "\21D7";
    color: saddlebrown;
}

a[target="_blank"]::before {
    content: "\0066";
    color: saddlebrown;
    padding-right: 5px;
}

a[href="#about"]::before {
    content: "\003F";
    color: saddlebrown;
    padding-right: 3px;
}

a[href="#main"]::before {
    content: "\1f310";
    color: saddlebrown;
    padding-right: 3px;
}

a[href="#contacts"]::before {
    content: "\260E";
    color: saddlebrown;
    padding-right: 3px;
}

@media all and (min-width: 640px) and (max-width: 1080px) {
    span {
        display: none;
    }

    body {
        display: flex;
        margin: 0;
        text-align: justify;
        font-family: "Segoe UI", sans-serif;
        font-size: 12pt;
    }

    a {
        text-decoration: none;
        color: white;
    }

    ul {
        padding-left: 10px;
        min-height: 100vh;
        min-width: 25px;
        margin: 0;
        background-color: #3d3d3d;
        list-style-type: none;
    }

    .content {
        padding: 0 35px 0 35px;
    }

    li {
        padding: 20px 0 10px 0;
    }
}

@media all and (max-width: 640px) {
    span {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: justify;
        font-family: "Segoe UI", sans-serif;
        font-size: 12pt;
    }

    a {
        text-decoration: none;
        color: white;
    }

    ul {
        padding-left: 10px;
        min-width: 100vw;
        margin: 0;
        background-color: #3d3d3d;
        list-style-type: none;
    }

    .content {
        padding: 0 35px 0 35px;
    }

    li {
        display: inline-block;
        padding: 10px 50px 10px 50px;
    }
}
